# BASIC STATISTICS-2

# Hospital Patient Data Analysis

In [1]:
import pandas as pd

# Load datasets 
patients_df = pd.read_csv('Patient_Data.csv')
billing_df = pd.read_csv('Billing_Data.csv')

In [2]:
# Display basic summary for Patient Data Set
print("Patient Dataset Info:")
patients_df.info()

Patient Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [3]:
# Display basic summary for Billing Data Set
print("Billing Dataset Info:")
billing_df.info()

Billing Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [4]:
# Drop administrative columns
patients_df = patients_df.drop(['ReceptionistID', 'CheckInTime'], axis=1)

In [5]:
# Remove duplicate patient records based on PatientID
patients_df = patients_df.drop_duplicates(subset=['PatientID'])

In [6]:
# Select relevant columns for billing from the patients_df
billing_relevant = patients_df[['PatientID', 'Department', 'Doctor', 'BillAmount']].copy()
display(billing_relevant)

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

In [7]:
# Create a sample DataFrame for new patients
new_patients_df = pd.DataFrame({
    'PatientID': [106, 107],
    'Name': ['Frank', 'Grace'],
    'Department': ['Pediatrics', 'Oncology'],
    'Doctor': ['Dr. White', 'Dr. Black'],
    'BillAmount': [3000.0, 9000.0],
    'ReceptionistID': [10, 11],
    'CheckInTime': ['10:00', '11:00']
})

# Concatenate the new patients DataFrame with the existing patients_df
patients_df = pd.concat([patients_df, new_patients_df], ignore_index=True)

# Display the updated patients_df
display(patients_df)

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,NaN,NaN
1,102,Bob,Neurology,Dr. John,NaN,NaN,NaN
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,NaN,NaN
3,104,David,Cardiology,Dr. Smith,6200.0,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,NaN,NaN,NaN
5,106,Frank,Pediatrics,Dr. White,3000.0,10.0,10:00
6,107,Grace,Oncology,Dr. Black,9000.0,11.0,11:00

In [8]:
# Merge the billing dataset with patient dataset on PatientID.
merged_billing_data = pd.merge(billing_relevant, billing_df, on='PatientID', how='inner')
display(merged_billing_data)

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Neurology,Dr. John,NaN,1500,3500
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Dermatology,Dr. Rose,NaN,1000,4000

In [9]:
# Calculate the mean of 'BillAmount'
mean_bill_amount = billing_relevant['BillAmount'].mean()

# Fill missing values with the mean
billing_relevant['BillAmount'] = billing_relevant['BillAmount'].fillna(mean_bill_amount)

# Display the updated DataFrame
display(billing_relevant)

   PatientID   Department     Doctor   BillAmount
0        101   Cardiology  Dr. Smith  5000.000000
1        102    Neurology   Dr. John  6233.333333
2        103  Orthopedics    Dr. Lee  7500.000000
3        104   Cardiology  Dr. Smith  6200.000000
4        105  Dermatology   Dr. Rose  6233.333333

In [10]:
# Ô∏èGroup by department to find total bill amount
department_bill_amount = billing_relevant.groupby('Department')['BillAmount'].sum().reset_index()
display(department_bill_amount)

    Department    BillAmount
0   Cardiology  11200.000000
1  Dermatology   6233.333333
2    Neurology   6233.333333
3  Orthopedics   7500.000000

Total Final Amount per Department

In [11]:
department_income = merged_billing_data.groupby('Department')['FinalAmount'].sum().reset_index()
display(department_income)

    Department  FinalAmount
0   Cardiology         6200
1  Dermatology         4000
2    Neurology         3500
3  Orthopedics         5000

Total Final Amount per Doctor

In [12]:
doctor_income = merged_billing_data.groupby('Doctor')['FinalAmount'].sum().reset_index()
display(doctor_income)

      Doctor  FinalAmount
0   Dr. John         3500
1    Dr. Lee         5000
2   Dr. Rose         4000
3  Dr. Smith         6200